<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.css">
<link rel="stylesheet/less" href="/assets/less/index.less">
<link rel="stylesheet" href="/assets/less/nprogress.css">
<link rel="stylesheet" href="/assets/lib/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3">
<link rel="stylesheet" href="/assets/lib/uploadify/uploadify.css">
<link rel="stylesheet" href="/assets/lib/Jcrop-WIP-2.x/css/Jcrop.css">